/* Webpage content */
/* Structure: grid */
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "padding-left padding-top padding-right"
        "padding-left header padding-right"
        "padding-left sub-header padding-right"
        "padding-left main-first-section padding-right"
        "padding-left main-second-section padding-right"
        "padding-left padding-bottom padding-right";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 17% 8% 32.5% 32.5% 5%;
}
.container > div {
    //    border: 1px dashed #888;
}

.padding-left {
    grid-area: padding-left;
    visibility: hidden;
}
.padding-top {
    grid-area: padding-top;
    visibility: hidden;
}
.padding-right {
    grid-area: padding-right;
    visibility: hidden;
}
.header {
    grid-area: header;
}
.sub-header {
    grid-area: sub-header;
}
.main-first-section {
    grid-area: main-first-section;
    background: rgb(44, 44, 44);
}
.main-second-section {
    grid-area: main-second-section;
    background: black;
    padding-top: 10%;
    padding-bottom: 10%;
}
.padding-bottom {
    grid-area: padding-bottom;
    background: rgba(0,0,0,0.6);
}

.main-section-header {
    font-size: 2.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.main-section-text {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    padding-left: 3%;
    padding-right: 3%;
}

.aurora_1,
.aurora_2,
.aurora_3,
.aurora_4,
.aurora_5,
.aurora_6,
.aurora_7,
.aurora_8,
.aurora_9,
.aurora_10
{
    background-color: rgb(0, 0, 0);
}


/* Photo gallery layout */


.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
    align-items: start;
    justify-items: center;
    margin-left: 2px;
    margin-right: 2px;
}
.grid img {
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    max-width: 100%;
}
.grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}