.navbar {
    transition: all 0.4s;
    background: rgba(0,0,0,0.3);
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    font-weight: bold;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #e1e1e1;
    
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
}

.navbar.active .navbar-brand {
    color: #555;
}

.navbar-brand img {
    max-width:75px;
}


.login-btn button{
    height: 35px;
    line-height: 0;  
}
/* Login Button - In Navbar */
.login-btn button:hover {
    color: #555 !important;
}

/* Media queries */
@media (max-width: 900px) {

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #fafafa;
    }
}