/* * {
    font-family: 'Trocchi', serif;
    font-weight: normal;
} */

body {
    margin: 0;
    padding: 0;
    background: rgb(67, 68, 68) url(../img/background.jpg) no-repeat;
    background-size: cover;
}


.header-text {
    height: 100vh;
    min-height: 500px;
}
/* Down Arrow */
.arrow {
    border: solid #fafafa;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Photo Detail View */
.detail-modal {
    padding: 1% !important;
}

.detail-modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.detail-modal .modal-content {
    border: 0;
    border-radius: 0;
}

/* Photos */
.gallery-img {
    width: 100%;
    height: 250px;
    margin: 2% !important;
    cursor: pointer;
    object-fit: cover;
    transition: all 0.3s;
}

.gallery-img:hover {
    opacity: 0.7;
}

/* Main Page Content - Image */
.col-image {
    width: 100%
}
/* Main Page Content - Row Div */
.banner-bg {
    background: rgba(0,0,0,0.3);
}

/* Main Page Content - Row Col Image */
#photos-col div {
    padding: 5px !important;
    display: inline-block;
}

/* Media queries */
@media only screen and (max-width: 900px) {
    .gallery-img {
        margin: 1% 0 !important;
    }
}